/*csslint box-model: false, ids: false, universal-selector: false, box-sizing: false,*/
/* Universal Selector*/

* {
	box-sizing: border-box;
}

/****************************************************************************************************
GENERAL
*****************************************************************************************************/
body {
		font-family: 'Actor', sans-serif;
		line-height: 1.5;
		margin: 0;
		background-image: url('../img/background.png');
		background-repeat: no-repeat;
		background-size: cover;
}

.main-header {
	background: linear-gradient(#ffa949, transparent 90%),
							#ffa949 url('../img/mountains.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 625px;
	padding-top: 170px;
	/*background-image: url('../img/mountains.jpg');*/
	/*background-image: radial-gradient(circle at top, #ffa949, firebrick);*/
	/*background-image: linear-gradient(#ffa949, firebrick);*/
}

.main-header,
.title {
	text-align: center;
}

.title {
	border-bottom: 2px solid;
	color: white;
	/* To change font-size from px to em.
	Whatever the desired pixel is /16.
	26px/16px = 
	*/
	font-size: 1.625em;
	font-weight: 200;
	letter-spacing: .065em;
	padding-bottom: 10px;
}

.primary-content {
	padding-bottom: 112px;
	text-align: center;
	
}

.secondary-content {
	border-bottom: 2px solid black;
	padding-bottom: 70px;
	padding-top: 80px;
}

.primary-content, .secondary-content {
	margin: auto;
	max-width: 900px;
	padding-left: 50px;
	padding-right: 50px;
	width: 75%;
}

.t-border {
	border-top: 2px solid grey;
}

/*ul li {
	margin-bottom: 5px;
	
}*/

ul, ol {
	margin-left: 30px;
}

li {
	margin-bottom: 10px;
}

.arrow {
	margin-top: 150px;
	width: 50px;
}

img {
	border-radius: 10px;
	margin-bottom: 20px;
	width: 100%;
	
}

.wildlife {
	/*padding-top: 100px;
		padding-right: 120px;
		padding-bottom: 100px;
		padding-left: 120px; */
	/* Two Values first is for top and bottom. Second is for left and right.*/
		border-width: 10px 20px;
		border-style: solid;
		border-color: black; 
	
	/*When 3 Values. First one is the top. Second one is left and right. Third one is bottom.*/
	background-image: url('../img/bear.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/*Box Shadow: 1st value is horizontal. 2nd is vertical. 3rd is blur. 4th one is spread radius*/
	/*border-radius: 10px;
	border-top: 10px solid #ffa949;
	box-shadow: inset  50px 10px rgba(0, 0, 0, .8);*/
	margin: 105px 0 60px;
	padding: 18% 24%;
}

.callout {
	border-bottom: 3px solid;
	display: inline-block;
	font-size: 1.25em;
	margin-top: 20px;
	padding: 0 9px 3px;
}

#main-footer {
	border-bottom: solid 10px black;
	padding-bottom: 60px;
	padding-top: 60px;
}


.social-media-icon {
    height: 20px;
    margin: 0 5px;
    width: 20px;
}


/****************************************************************************************************
HEADLINE ELEMENTS & P ELEMENTS
*****************************************************************************************************/
h1 {
	  color: white;
		/*90px/15px*/
    font-size: 5.625em;
		font-weight: normal;
		line-height: 1.3;
		margin: 12px 0 0;
		text-shadow: 0 1px 1px rgba(0,0,0,.8);
		text-transform: uppercase;
		/*Text Shadows: First Value is horizontal offset. Second value is vertical offset. third value is blur. fourth is color of shadow*/
}

h2 {
	font-size: 53px;
	font-weight: normal;
	margin-bottom: .5em;
	text-decoration: underline;
}

h3 {
	color: black;
	font-size: 20px;
	/*34px/20px*/
	margin-bottom: 1.7em;
}


/****************************************************************************************************
FLOATED COLUMNS
*****************************************************************************************************/
.resorts, .tips {
	width: 46.5%;
}

.resorts {
	float: left;
}

.tips {
	float: right;
}

.group:after {
	clear: both;
	content: "";
	display: table;
}

/*===============================================
Navigation
=================================================*/

nav {
    margin: 20px 0 0;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0 10px;
    padding: 10px 0;
}

nav li {
    display: inline-block;
}

nav a {
    font-weight: 800;
    padding: 15px 10px;
}


/****************************************************************************************************
COLORS
*****************************************************************************************************/
body {
	color: #878787;
}

.title {
	color: white;
}

ul li {
	color: white;
}

.main-header {
    background-color: #ffa949;
}

nav {
    background: grey;
}

nav a,
nav a:visited {
    color: black;
}

nav .selected,
nav a:hover {
    color: blue;
}

.wildlife {
	background-color: #434a52;
	color: white;
	
}

/* CSS PSEUDO Class*/

a:link {
	color: orange;
	text-decoration: none;
}

a:visited {
	color: lightblue;
}

a:hover {
	color: forestgreen;
}

a:active {
	color: coral;
}

a:focus {
	
	background-color: black;
	color: aqua;
}

/****************************************************************************************************
MEDIA QUERIES
*****************************************************************************************************/

@media (max-width: 1024px) {
	.primary-content, .secondary-content {
		width: 90%;
	}
	.wildlife {
		margin: 50px 0 20px;
		padding: 10% 12%;
	}
}
	
@media (max-width: 768px){
	.primary-content, secondary-content {
		border-top: none;
		padding: 20px;
		width: 100%;
	}
	.main-header {
		max-height: 50px;
		padding: 50px 25px 0;
	}
	.title {
		border: none;
		font-size: 1.3rem;
	}
	.arrow {
		display: none;
	}
	.intro {
		font-size: 1rem;
	}
	.resorts, .tips {
		float: none;
		width: 100%;
	}
	main-footer {
		padding: 20px 0;
	}
}

@media (max-width: 375px) {
	h1 {
		font-size: 3rem;
	}
}

@media screen and (min-width: 660px) {
    /*Nav*/
    nav {
        background: none;
        float: right;
        font-size: 1.125em;
        margin-right: 5%;
        text-align: right;
        width: 45%;
    }
}




